# Cached builds
__pycache__/
.cache/
.idea/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/

# Build directories
build/
dist/
collect/
node_modules/
src/codeschool/site/bower/
docs/_build/

# Database
db/db.sqlite3